backendEnvironmentVariables:
  ENCRYPTION_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  JWT_SIGNUP_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  JWT_REFRESH_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  JWT_AUTH_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  JWT_SERVICE_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  SMTP_USERNAME: XXXXXX
  SMTP_PASSWORD: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
